In [5]:
from datascience import *
import numpy as np

## Program that tells you when the closest (university) holiday/break is. ##

Developed by Nathan Kelete

In [103]:
holidays = Table.read_table('unc_holidays.csv')
holidays.relabel('Unnamed: 0', 'Holiday')

Holiday               | 2022                      | 2023
Labor Day             | September 6               | September 5
Wellness Day (Fall)   | nan                       | September 6 & September 26
Fall Break            | October 21 - October 22   | October 20 - October 21
Thanksgiving Break    | November 24 - November 26 | November 23 - November 25
LDOC (Fall)           | December 1                | November 30
Wellness Day (Spring) | April 14                  | February 13 & February 14 & April 6
MLK Day               | January 17                | January 16
Spring Break          | March 11                  | March 13 - March 17
University Holiday    | April 15                  | April 7
LDOC (Spring)         | April 27                  | April 28

In [104]:
user_date = input("What's today's date? (EX: (January 1 2022)")

What's today's date? (EX: (January 1 2022) April 13 2022

In [105]:
if '2022' in user_date:
    holidays = holidays.drop('2023')
if '2023' in user_date:
    holidays = holidays.drop('2022')

In [106]:
broken_date = user_date.split()

In [107]:
holiday_month = holidays.where('2022', are.containing(broken_date[0]))
holiday_month

Holiday               | 2022
Wellness Day (Spring) | April 14
University Holiday    | April 15
LDOC (Spring)         | April 27

In [108]:
if broken_date[0] == "April":
    if int(broken_date[1]) > 15:
        holiday_month = holiday_month.where('2022', are.containing('27'))
    if int(broken_date[1]) < 15: 
        holiday_month = holiday_month.where('2022', are.containing('April 14'))
    elif int(broken_date[1]) == 15:
        holiday_month = holiday_month.where('2022', are.containing('April 15'))

In [109]:
print(f"The closest holiday is {holiday_month.column('Holiday')}!")

The closest holiday is ['Wellness Day (Spring)']!